{% extends "base.html" %}

{% block head %}
<title>我愛你</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="content-wrapper" style="min-height: 244.792px;">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">ProFile Page</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">

          <div class="card card-primary card-outline">
            <div class="card-body">
              <h5 class="card-title"></h5>

              <p class="card-text">
                尚未註冊，請於右上角點擊申請。
              </p>
              {{user}}
              {{user.first_name}}
              <h1>Pro File</h1>
              <p>username : {{user}}</p>
              <p>First Name: {{user.first_name}}</p>
              <p>Last Name: {{user.last_name}}</p>
              <p>Email : {{user.email}}</p>

              <p>使用者: {{user.userprofile}}</p>
              <p>描述: {{user.userprofile.description}}</p>
              <p>城市: {{user.userprofile.city}}</p>
              <p>網站: {{user.userprofile.website}}</p>
              <p>信箱: {{user.userprofile.email}}</p>
              <p>聯絡電話: {{user.userprofile.phone}}</p>
              <p>公司照片: {{user.userprofile.image}}</p>
              <img src="{{user.userprofile.image.url}}" alt="" width="400">
            </div>
          </div><!-- /.card -->
        </div>
        <!-- /.col-md-6 -->

      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
{% else %}

<div class="content-wrapper text-center" style="padding: 200px">

    <div class="tab-content">
      <div class="tab-empty" style="height: 453px;">
        <h2 class="display-4">No tab selected!</h2>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
