{% extends "base.html" %}
{% block content %}
<div class="content-wrapper" style="min-height: 244.792px;">
  <!-- Django CRUD Operations Example With Migrate Table db.sqlite3: https://www.youtube.com/watch?v=HHFqzhU_JP0-->
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{title}} Page</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">List</a></li>
            <li class="breadcrumb-item active">List Page</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">


      <br>
      <div class="row">
        <div class="col-lg">

          <div class="card card-primary card-outline">
            <div class="card-body">
              <h5 class="card-title">量販店</h5>
              <p class="card-text">
              <!--      {# search polls #}-->
              <form method="GET" action="">
<!--                <label for="">-->
                  <input type="text" name="q" placeholder="Search posts"
                                     value="{{ request.GET.q }}"/>
                  <input type="submit" value="search"/>
<!--                </label>-->
              </form>
              <hr>

              <a href="{% url 'mass_mer:stinstert' %}"><b>新增量販店</b></a>
              <table border="1">
                <tr>
                  <td>編號</td>
                  <td>量販店負責人</td>
                  <td>負責人證號</td>
                  <td>電話</td>
                  <td>地址</td>
                  <!--                  <td></td>-->
                </tr>
                {% for displayst in obj_list %}
                <tr>
                  <td>{{displayst.id}}</td>
                  <td><a href="{{ displayst.get_absolute_url }}">{{displayst.mass_mer_principal|truncatechars:5}}</a></td>
                  <td>{{displayst.certificate_num_principal}}</td>
                  <td>{{displayst.telephone}}</td>
                  <td>{{displayst.address}}</td>
                  <td><a href="{% url 'mass_mer:stedit' id=displayst.id %}">Edit</a></td>
                  <td><a href="{% url 'mass_mer:stdelete' id=displayst.id%}"
                         onclick="return confirm('Are u sure u want to del?')">Delete</a></td>
                </tr>
                {% endfor %}

              </table>
              </p>

            </div>
          </div><!-- /.card -->


          <!--  pagination  -->
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">previous</a>
              {% endif %}
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
                <a href="?{{ page_request_var }}={{ page_obj.next_page_number }}&q={{ request.GET.q }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
          <!-- /. pagination  -->
        </div>
        <!-- /.col-md-6 -->


      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
{% endblock %}
