{% extends "base.html" %}
{% block content %}
<div class="content-wrapper" style="min-height: 244.792px;">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{title}} Page</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">List</a></li>
            <li class="breadcrumb-item active">List Page</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">

          <div class="card card-primary card-outline">
            <div class="card-body">
              <h5 class="card-title">中游公司簡介</h5>

              <p class="card-text">


              <h1>How to create CRUD Opeartion</h1>
              <h2>Django web Framework</h2>
              <hr>
              <table border="1">
                <tr>
                  <th>Student ID</th>
                  <th>Student Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Mobile</th>
                  <th>Gender</th>
                  <th>Edit</th>
                  <th>Del</th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </table>

              <!--                <h3>會員資料</h3>-->
              <!--                <div class="div1">-->
              <!--                  <div class="div1-1">-->
              <!--                    <button><a href="#">列表</a></button>-->
              <!--                    <button><a href="#">新增</a></button>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--                <br>-->
              <!--                <table border="2">-->
              <!--                  <tr>-->
              <!--                    <td>姓名</td>-->
              <!--                    <td>生日</td>-->
              <!--                    <td>電子郵件</td>-->
              <!--                    <td>行動電話</td>-->
              <!--                    <td>編輯操作</td>-->
              <!--                  </tr>-->
              <!--                </table>-->
              </p>

            </div>
          </div><!-- /.card -->


          <!--  pagination  -->
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">previous</a>
              {% endif %}
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
                <a href="?{{ page_request_var }}={{ page_obj.next_page_number }}&q={{ request.GET.q }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div>
          <!-- /. pagination  -->
        </div>
        <!-- /.col-md-6 -->


      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
{% endblock %}
