<!--&lt;!&ndash; Content Wrapper. Contains page content &ndash;&gt;-->
<!--<div class="content-wrapper">-->
<!--  &lt;!&ndash; Content Header (Page header) &ndash;&gt;-->
<!--  <div class="content-header">-->
<!--    <div class="container-fluid">-->
<!--      <div class="row mb-2">-->
<!--        <div class="col-sm-6">-->
<!--          <h1 class="m-0">王八蛋 Page</h1>-->
<!--        </div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--        <div class="col-sm-6">-->
<!--          <ol class="breadcrumb float-sm-right">-->
<!--            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--            <li class="breadcrumb-item active">Starter Page</li>-->
<!--          </ol>-->
<!--        </div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--      </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /.content-header &ndash;&gt;-->

<!--  &lt;!&ndash; Main content &ndash;&gt;-->
<!--  <div class="content">-->
<!--    <div class="container-fluid">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-6">-->
<!--          <div class="card">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->

<!--              <p class="card-text">-->
<!--                Some quick example text to build on the card title and make up the bulk of the card's-->
<!--                content.-->
<!--              </p>-->

<!--              <a href="#" class="card-link">Card link</a>-->
<!--              <a href="#" class="card-link">Another link</a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="card card-primary card-outline">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->

<!--              <p class="card-text">-->
<!--                Some quick example text to build on the card title and make up the bulk of the card's-->
<!--                content.-->
<!--              </p>-->
<!--              <a href="#" class="card-link">Card link</a>-->
<!--              <a href="#" class="card-link">Another link</a>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; /.card &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.col-md-6 &ndash;&gt;-->
<!--        <div class="col-lg-6">-->
<!--          <div class="card">-->
<!--            <div class="card-header">-->
<!--              <h5 class="m-0">Featured</h5>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h6 class="card-title">Special title treatment</h6>-->

<!--              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="card card-primary card-outline">-->
<!--            <div class="card-header">-->
<!--              <h5 class="m-0">Featured</h5>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <h6 class="card-title">Special title treatment</h6>-->

<!--              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; /.col-md-6 &ndash;&gt;-->
<!--      </div>-->
<!--      &lt;!&ndash; /.row &ndash;&gt;-->
<!--    </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /.content &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; /.content-wrapper &ndash;&gt;-->
